---
layout: default
title: Home
---

<!-- Start Intro -->
<section id="intro" style="display: none">
    <!-- border intro -->
    <div class="left-border"></div>
    <div class="right-border"></div>
    <div class="bottom-border"></div>
    <!-- Slide -->
    <div id="slides">
        <ul class="slides-container">
            <!-- slide item -->
            <li>
                <img src="http://placehold.it/1920x1000" alt="" data-stellar-ratio="0.4">
                <div class="caption-wrapper">
                    <div class="slide-caption">
                        <a href="#">
                            <h1 class="wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.6s">Simple Style</h1>
                        </a>
                        <h6 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">Sed dolor mi, volutpat quis tristique sit amet, varius quis justo.</h6>
                    </div>
                </div>
            </li>
            <!-- end slide item -->
            <!-- slide item -->
            <li>
                <img src="http://placehold.it/1920x1000" alt="" data-stellar-ratio="0.4">
                <div class="caption-wrapper">
                    <div class="slide-caption">
                        <a href="#">
                            <h1 class="wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.6s">Fashion Illustration</h1>
                        </a>
                        <h6 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">Sed dolor mi, volutpat quis tristique sit amet, varius quis justo.</h6>
                    </div>
                </div>
            </li>
            <!-- end slide item -->
            <!-- slide item -->
            <li>
                <img src="http://placehold.it/1920x1000/000000/ffffff" alt="" data-stellar-ratio="0.4">
                <div class="caption-wrapper white-text">
                    <div class="slide-caption">
                        <a href="#">
                            <h1 class="wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.6s">Black Skin</h1>
                        </a>
                        <h6 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">Duis accumsan elit eget quam laoreet fermentum. Donec eget metus sapien.</h6>
                        <a href="#" class="btn btn-main white wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">View project</a>
                    </div>
                </div>
            </li>
            <!-- end slide item -->
        </ul>
        <!-- slide navigation -->
        <nav class="slides-navigation">
            <a href="#" class="next">Next</a>
            <a href="#" class="prev">Back</a>
        </nav>
    </div>
    <!-- End Slide -->
</section>
<!-- End Intro -->

<!-- Start About Us -->
<section id="about" class="section bg-about" data-stellar-background-ratio="0.5">
    <div class="overlay-dark"></div><!-- Overlay Dark -->
    <div class="container">
        <div class="row">
            <!-- about text -->
            <div class="col-md-7 wow fadeInUp">
                <h3 class="white-text">About us</h3>
                <div class="divider"></div>
                <h6>We are a creative group of entrepreneurs specializing in all forms of information media.</h6>
                <p>Our mission is to build eco-system of purposeful services for enriching the web e-commerce experience.</p>
            </div>
            <!-- End about text -->
        </div>
    </div>
</section>
<!-- End About Us -->

<!-- Start Works -->
<section id="work" class="section" style="display: ">
    <div class="container">
        <!-- Section Title -->
        <div class="row m-bottom-100">
            <div class="col-md-6">
                <h3>Latest Works</h3>
                <div class="divider"></div>
            </div>
            <div class="col-md-6">
                <h6>Sed ac mattis justo. Vestibulum facilisis at arcu ac porta. Vivamus at ipsum at quam hendrerit gravida.</h6>
            </div>
        </div>
        <!-- End Section Title -->
        <div class="row wow fadeInUp">
            <!-- Project Grid -->
            <div id="grid-items" data-columns>
                <!-- work item -->
                <a href="single-work.html">
                    <div class="work-item">
                        <img src="http://placehold.it/500x500" alt="">
                        <div class="caption">
                            <p class="extra">Brand &amp; Identity</p>
                            <div class="titles">
                                <h4 class="title">Concept</h4>
                                <div class="divider"></div>
                            </div>
                        </div>
                    </div>
                </a>
                <!-- end work item -->
                <!-- work item -->
                <a href="single-work.html">
                    <div class="work-item">
                        <img src="http://placehold.it/500x500" alt="">
                        <div class="caption">
                            <p class="extra">Photography</p>
                            <div class="titles">
                                <h4 class="title">Favorit</h4>
                                <div class="divider"></div>
                            </div>
                        </div>
                    </div>
                </a>
                <!-- end work item -->
                <!-- work item -->
                <a href="single-work.html">
                    <div class="work-item">
                        <img src="http://placehold.it/500x1000" alt="">
                        <div class="caption">
                            <p class="extra">Brand &amp; Identity</p>
                            <div class="titles">
                                <h4 class="title">Moon</h4>
                                <div class="divider"></div>
                            </div>
                        </div>
                    </div>
                </a>
                <!-- end work item -->
                <!-- work item -->
                <a href="single-work.html">
                    <div class="work-item">
                        <img src="http://placehold.it/1000x500" alt="">
                        <div class="caption">
                            <p class="extra">Photography</p>
                            <div class="titles">
                                <h4 class="title">Black Skin</h4>
                                <div class="divider"></div>
                            </div>
                        </div>
                    </div>
                </a>
                <!-- end work item -->
                <!-- work item -->
                <a href="single-work.html">
                    <div class="work-item">
                        <img src="http://placehold.it/1000x500" alt="">
                        <div class="caption">
                            <p class="extra">Print Design</p>
                            <div class="titles">
                                <h4 class="title">Eco</h4>
                                <div class="divider"></div>
                            </div>
                        </div>
                    </div>
                </a>
                <!-- end work item -->

            </div>
            <!-- End Project Grid -->
            <div class="col-md-12">
                <a href="#" class="work-btn">More works</a>
            </div>
        </div>
    </div>
</section>
<!-- End Works -->

{% include index/projects.html %}

<!-- Start Clients -->
<section id="clients" class="section bg-clients" data-stellar-background-ratio="0.5">
    <div class="overlay-dark"></div><!-- Overlay Dark -->
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center wow fadeIn">
                <!-- Carousel Clients -->
                <div id="owl-clients">
                    <div class="client"><img src="http://placehold.it/240x240" alt=""></div>
                    <div class="client"><img src="http://placehold.it/240x240" alt=""></div>
                    <div class="client"><img src="http://placehold.it/240x240" alt=""></div>
                    <div class="client"><img src="http://placehold.it/240x240" alt=""></div>
                    <div class="client"><img src="http://placehold.it/240x240" alt=""></div>
                    <div class="client"><img src="http://placehold.it/240x240" alt=""></div>
                </div>
                <!-- End Carousel Clients -->
            </div>
        </div>
    </div>
</section>
<!-- End Clients -->

<!-- Start Service -->
<section id="service" class="section">
    <div class="container">
        <!-- Section Title -->
        <div class="row m-bottom-100">
            <div class="col-md-6">
                <h3>Service</h3>
                <div class="divider"></div>
            </div>
            <div class="col-md-6">
                <h6>Sed ac mattis justo. Vestibulum facilisis at arcu ac porta. Vivamus at ipsum at quam hendrerit gravida.</h6>
            </div>
        </div>
        <!-- End Section Title -->
        <div class="row">
            <div class="col-md-12 wow fadeInUp">
                <!-- Carousel Service Nav -->
                <div id="sync2" class="owl-carousel">
                    <div class="service-item">
                        <i class="ion-ios-lightbulb-outline"></i>
                        <h1>Research</h1>
                    </div>
                    <div class="service-item">
                        <i class="ion-ios-monitor-outline"></i>
                        <h1>Design</h1>
                    </div>
                    <div class="service-item">
                        <i class="ion-ios-color-wand-outline"></i>
                        <h1>Brand Identity and User Experience</h1>
                    </div>
                    <div class="service-item">
                        <i class="ion-ios-camera-outline"></i>
                        <h1>Development</h1>
                    </div>
                </div>
                <!-- End Carousel Service Nav -->
                <!-- Carousel Service Content -->
                <div id="sync1" class="owl-carousel">
                    <!-- carousel content -->
                    <div class="service-item">
                        <div class="row">
                            <div class="col-md-6">
                                <p>Maecenas  volutpat, diam enim sagittis quam, id porta quam. Sed id dolor consectetur fermentum volutpat nibh, accumsan purus. Lorem ipsum dolor sit semper amet, consectetur adipiscing elit.</p>
                            </div>
                            <div class="col-md-6">
                                <p>Maecenas  volutpat, diam enim sagittis quam, id porta quam. Sed id dolor consectetur fermentum volutpat nibh, accumsan purus. Lorem ipsum dolor sit semper amet, consectetur adipiscing elit.</p>
                            </div>
                        </div>
                    </div>
                    <!-- end carousel content -->
                    <!-- carousel content -->
                    <div class="service-item">
                        <div class="row">
                            <div class="col-md-6">
                                <p>Maecenas  volutpat, diam enim sagittis quam, id porta quam. Sed id dolor consectetur fermentum volutpat nibh, accumsan purus. Lorem ipsum dolor sit semper amet, consectetur adipiscing elit.</p>
                            </div>
                            <div class="col-md-6">
                                <p>Maecenas  volutpat, diam enim sagittis quam, id porta quam. Sed id dolor consectetur fermentum volutpat nibh, accumsan purus. Lorem ipsum dolor sit semper amet, consectetur adipiscing elit.</p>
                            </div>
                        </div>
                    </div>
                    <!-- end carousel content -->
                    <!-- carousel content -->
                    <div class="service-item">
                        <div class="row">
                            <div class="col-md-6">
                                <p>Maecenas  volutpat, diam enim sagittis quam, id porta quam. Sed id dolor consectetur fermentum volutpat nibh, accumsan purus. Lorem ipsum dolor sit semper amet, consectetur adipiscing elit.</p>
                            </div>
                            <div class="col-md-6">
                                <p>Maecenas  volutpat, diam enim sagittis quam, id porta quam. Sed id dolor consectetur fermentum volutpat nibh, accumsan purus. Lorem ipsum dolor sit semper amet, consectetur adipiscing elit.</p>
                            </div>
                        </div>
                    </div>
                    <!-- end carousel content -->
                    <!-- carousel content -->
                    <div class="service-item">
                        <div class="row">
                            <div class="col-md-6">
                                <p>Maecenas  volutpat, diam enim sagittis quam, id porta quam. Sed id dolor consectetur fermentum volutpat nibh, accumsan purus. Lorem ipsum dolor sit semper amet, consectetur adipiscing elit.</p>
                            </div>
                            <div class="col-md-6">
                                <p>Maecenas  volutpat, diam enim sagittis quam, id porta quam. Sed id dolor consectetur fermentum volutpat nibh, accumsan purus. Lorem ipsum dolor sit semper amet, consectetur adipiscing elit.</p>
                            </div>
                        </div>
                    </div>
                    <!-- end carousel content -->
                </div>
                <!-- End Carousel Service Tab -->
            </div>
        </div>
    </div>
</section>
<!-- End Service -->

<!-- Start Facts -->
<section id="facts" class="p-bottom-140" style="display: none">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <!-- facts box -->
                <div class="box-count">
                    <h1><span class="countup">958</span></h1>
                    <h6>Happy Clients</h6>
                    <div class="divider-center"></div>
                </div>
                <!-- end facts box -->
            </div>
            <div class="col-md-3 col-sm-6">
                <!-- facts box -->
                <div class="box-count">
                    <h1><span class="countup">105</span>K</h1>
                    <h6>Facebook Likes</h6>
                    <div class="divider-center"></div>
                </div>
                <!-- end facts box -->
            </div>
            <div class="col-md-3 col-sm-6">
                <!-- facts box -->
                <div class="box-count">
                    <h1><span class="countup">60</span></h1>
                    <h6>Awards</h6>
                    <div class="divider-center"></div>
                </div>
                <!-- end facts box -->
            </div>
            <div class="col-md-3 col-sm-6">
                <!-- facts box -->
                <div class="box-count">
                    <h1><span class="countup">1362</span></h1>
                    <h6>Retweetes</h6>
                    <div class="divider-center"></div>
                </div>
                <!-- end facts box -->
            </div>
        </div>
    </div>
</section>
<!-- End Facts -->

<!-- Start Testimonial -->
<section id="testimonials" class="section bg-testimonials" data-stellar-background-ratio="0.5" style="display: none">
    <div class="overlay-dark"></div><!-- Overlay Dark -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <!-- Carousel Tesimonials -->
                <div id="owl-testimonials" class="owl-carousel">
                    <!-- testimonial item -->
                    <div class="item">
                        <blockquote>
                            <p>Morbi augue dolor, convallis non mollis vel, pulvinar a leo. Duis non orci eget felis blandit efficitur.</p>
                            <footer>John Doe @Company Inc.</footer>
                        </blockquote>
                    </div>
                    <!-- end testimonial item -->
                    <!-- testimonial item -->
                    <div class="item">
                        <blockquote>
                            <p>Duis accumsan elit eget quam laoreet fermentum. Donec eget metus sapien. Donec fermentum leo in leo scelerisque lacinia.</p>
                            <footer>John Doe @Company Inc.</footer>
                        </blockquote>
                    </div>
                    <!-- end testimonial item -->
                    <!-- testimonial item -->
                    <div class="item">
                        <blockquote>
                            <p>Proin posuere blandit erat ac faucibus. Etiam scelerisque nunc eget hendrerit lobortis. Mauris mattis lectus diam, ut sodales diam suscipit id.</p>
                            <footer>John Doe @Company Inc.</footer>
                        </blockquote>
                    </div>
                    <!-- end testimonial item -->
                </div>
                <!-- End Carousel Tesimonials -->
            </div>
        </div>
    </div>
</section>
<!-- End Testimonials -->

<!-- Start Team -->
<section id="team" class="section" style="display: none">
    <div class="container">
        <!-- Section Title -->
        <div class="row m-bottom-100">
            <div class="col-md-6">
                <h3>The Team</h3>
                <div class="divider"></div>
            </div>
            <div class="col-md-6">
                <h6>Sed ac mattis justo. Vestibulum facilisis at arcu ac porta. Vivamus at ipsum.</h6>
            </div>
        </div>
        <!-- End Section Title -->
        <div class="row">
            <div class="col-md-4 wow fadeInUp">
                <!-- member item -->
                <div class="team-member">
                    <div class="member">
                        <img src="http://placehold.it/570x675" alt="">
                        <ul class="member-social">
                            <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                            <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                            <li><a href="#"><i class="ion-social-dribbble-outline"></i></a></li>
                        </ul>
                    </div>
                    <div class="member-info">
                        <h5>Steven</h5>
                        <div class="divider-small"></div>
                        <h6>Designer</h6>
                    </div>
                </div>
                <!-- end member item -->
            </div>
            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                <!-- member item -->
                <div class="team-member">
                    <div class="member">
                        <img src="http://placehold.it/570x675" alt="">
                        <ul class="member-social">
                            <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                            <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                            <li><a href="#"><i class="ion-social-dribbble-outline"></i></a></li>
                        </ul>
                    </div>
                    <div class="member-info">
                        <h5>Alexa</h5>
                        <div class="divider-small"></div>
                        <h6>Photographer</h6>
                    </div>
                </div>
                <!-- end member item -->
            </div>
            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2">
                <!-- member item -->
                <div class="team-member">
                    <div class="member">
                        <img src="http://placehold.it/570x675" alt="">
                        <ul class="member-social">
                            <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                            <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                            <li><a href="#"><i class="ion-social-dribbble-outline"></i></a></li>
                        </ul>
                    </div>
                    <div class="member-info">
                        <h5>Alan</h5>
                        <div class="divider-small"></div>
                        <h6>Developer</h6>
                    </div>
                </div>
                <!-- end member item -->
            </div>
        </div>
    </div>
</section>
<!-- End Team -->

<!-- Start Google Map -->
<section id="cd-google-map">
    <div id="google-container"></div>
    <div id="cd-zoom-in"></div>
    <div id="cd-zoom-out"></div>
    <!-- Address -->
    <div class="address">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="address-item">
                        <i class="ion-ios-telephone-outline"></i>
                        <h6>920005022</h6>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="address-item">
                        <i class="ion-ios-location-outline"></i>
                        <h6>Firas Bin Nadr Street, Ulaya, Khobar, Saudi Arabia</h6>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="address-item">
                        <i class="ion-ios-email-outline"></i>
                        <h6>info@example.com</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end Address -->
</section>
<!-- End Google Map -->

{% include index/contact_form.html %}