---
layout: default
title: Home
---

<!-- Start Intro -->
<section id="intro" style="display: none">
    <!-- border intro -->
    <div class="left-border"></div>
    <div class="right-border"></div>
    <div class="bottom-border"></div>
    <!-- Slide -->
    <div id="slides">
        <ul class="slides-container">
            <!-- slide item -->
            <li>
                <img src="http://placehold.it/1920x1000" alt="" data-stellar-ratio="0.4">
                <div class="caption-wrapper">
                    <div class="slide-caption">
                        <a href="#">
                            <h1 class="wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.6s">Simple Style</h1>
                        </a>
                        <h6 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">Sed dolor mi, volutpat quis tristique sit amet, varius quis justo.</h6>
                    </div>
                </div>
            </li>
            <!-- end slide item -->
            <!-- slide item -->
            <li>
                <img src="http://placehold.it/1920x1000" alt="" data-stellar-ratio="0.4">
                <div class="caption-wrapper">
                    <div class="slide-caption">
                        <a href="#">
                            <h1 class="wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.6s">Fashion Illustration</h1>
                        </a>
                        <h6 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">Sed dolor mi, volutpat quis tristique sit amet, varius quis justo.</h6>
                    </div>
                </div>
            </li>
            <!-- end slide item -->
            <!-- slide item -->
            <li>
                <img src="http://placehold.it/1920x1000/000000/ffffff" alt="" data-stellar-ratio="0.4">
                <div class="caption-wrapper white-text">
                    <div class="slide-caption">
                        <a href="#">
                            <h1 class="wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.6s">Black Skin</h1>
                        </a>
                        <h6 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">Duis accumsan elit eget quam laoreet fermentum. Donec eget metus sapien.</h6>
                        <a href="#" class="btn btn-main white wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">View project</a>
                    </div>
                </div>
            </li>
            <!-- end slide item -->
        </ul>
        <!-- slide navigation -->
        <nav class="slides-navigation">
            <a href="#" class="next">Next</a>
            <a href="#" class="prev">Back</a>
        </nav>
    </div>
    <!-- End Slide -->
</section>
<!-- End Intro -->

<!--{% include index/intro.html %}-->

{% include index/about_us.html %}

{% include index/projects.html %}

{% include index/projects_overview.html %}

{% include index/clients.html %}

{% include index/service.html %}

{% include index/counts.html %}

{% include index/quotes.html %}

{% include index/team.html %}

{% include index/map.html %}

{% include index/contact_form.html %}
