<!-- Single Work Head -->
<section id="head-single-work" class="section bg-single-work" style="background-image:url('{{ page.headline-image }}');" data-stellar-background-ratio="0.5">
    <div class="overlay-grad-light"></div><!-- Overlay Gradient Light -->
    <div class="container">
        <!-- Section Work Title -->
        <div class="row m-top-100">
            <div class="col-md-12">
                <h3>{{ page.title }}</h3>
                <div class="divider"></div>
                <h6>{{ page.headline }}</h6>
                <img class="img-responsive" src="{{ page.featured-thumbnail }}" alt="{{ page.featured-thumbnail-alt }}" style="max-height: 150px; display: block; margin-left: auto; margin-right: auto"/>
            </div>
        </div>
        <!-- Section Work Title -->
    </div>
</section>
<!-- End Single Work Head -->
