<!-- Start Value of Proposition -->
<a href="#value_of_proposition" class="work-btn" data-toggle="collapse" data-target="#value_of_proposition">Value of Proposition</a>
<section id="value_of_proposition" class="section" data-stellar-background-ratio="0.5" aria-expanded="false">
    <div class="container">
      <!-- Section Title -->
      {% for value in page.value-of-proposition %}
      <div class="row m-top-100">
          <div class="col-md-12">
              <h2>{{ value.title }}</h2>
              <div class="divider"></div>
          </div>
      </div>
      <!-- End Section Title -->
      {% for benefit in value.benefits %}
        <div class="row">
            <!-- Title and Text -->
            <div class="col-md-12 wow fadeInUp">
                <h3 class="black-text">{{ benefit.title }}</h3>
                <div class="divider"></div>
                <h6>{{ benefit.description }}</h6>
            </div>
            <!-- End Title and Text -->
        </div>
        {% endfor %}
      {% endfor %}
    </div>
</section>
<!-- End Value of Proposition -->
