<!-- Start Contact -->
<section id="contact" class="section">
    <div class="container">
        <!-- Section Title -->
        <div class="row m-bottom-100">
            <div class="col-md-6">
                <h3>Get in touch</h3>
                <div class="divider"></div>
            </div>
            <div class="col-md-6">
                <h6>Contact us for investment opportunities.</h6>
            </div>
        </div>
        <!-- Section Title -->
        <div class="row">
            <div class="col-md-12 wow fadeInUp">
                <div id="form-wrapper">
                    <div id="form-inner">
                        <div id="err-result"><!-- retrive error here --></div>
                        <div id="main-result"><!-- retrive response here --></div>
                        <div id="main-content">
                            <div class="row">
                                <!-- Contact Form -->
                                <form id="my-contact-form" name="my-contact-form" method="post">
                                    <fieldset id="contact-form">
                                        <div class="col-md-6">
                                            <label for="name" id="nameIN">
                                                <input type="text" name="name" id="name" placeholder="Name...">
                                                <span class="error">Name Field Required</span>
                                            </label>
                                            <label for="email" id="emailIN">
                                                <input type="email" name="email" id="email" placeholder="Email...">
                                                <span class="error">Email Field Required</span>
                                            </label>
                                            <label for="phone" id="phoneIN">
                                                <input type="text" name="phone" id="phone" placeholder="Telephone...">
                                                <span class="error">Telephone Field Required</span>
                                            </label>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="message" id="messageIN">
                                                <textarea name="message" id="message" placeholder="Message..."></textarea>
                                                <span class="error">Message Field Required</span>
                                            </label>
                                        </div>
                                        <div class="col-md-12">
                                            <a href="#" class="contact-btn">Submit</a>
                                        </div>
                                    </fieldset>
                                </form>
                                <!-- End Contact Form -->
                            </div>
                        </div><!-- end main-content -->
                    </div><!-- end form-inner -->
                </div><!-- end form-wrapper -->
            </div>
        </div>
    </div>
</section>
<!-- End Contact -->
