<!-- Footer -->
<footer id="footer" class="section bg-footer" data-stellar-background-ratio="0.5">
    <div class="overlay-dark"></div><!-- Overlay Dark -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Socials Link -->
                <ul class="footer-social list-inline">
                    <li><a href="{{ site.linkedin }}">Linkedin</a></li>
                    <li><a href="{{ site.twitter }}">Twitter</a></li>
                </ul>
                <!-- End Socials Link -->
            </div>
        </div>
        <div class="row m-top-20">
            <div class="col-md-12 text-center">
                <p>&copy; 2016 Information Business. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
<!-- End footer -->
