<!-- Start Navigation -->
<header>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a data-scroll class="navbar-brand" href="#intro"><img src="img/logo.png" alt="iBusiness"></a>
            </div>
            <!-- Social Icons -->
            <div class="header-social hidden-sm hidden-xs">
                <ul class="social-icons list-inline">
                    <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                    <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                    <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                </ul>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a data-scroll href="#about">About</a></li>
                    <li><a data-scroll href="#service">Service</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Projects
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a data-scroll href="#ipay">iPAY</a></li>
                            <li><a data-scroll href="#istore">iSTORE</a></li>
                            <li><a data-scroll href="#swiftli">Swiftli</a></li>
                            <li><a data-scroll href="#impressions">Impressions</a></li>
                            <li><a data-scroll href="#expressions">Expressions</a></li>
                        </ul>
                    </li>
                    <li><a data-scroll href="#contact">Contact</a></li>

                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- End Navigation -->