<!-- Start Testimonial -->
<section id="testimonials" class="section bg-testimonials" data-stellar-background-ratio="0.5" style="display: none">
    <div class="overlay-dark"></div><!-- Overlay Dark -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <!-- Carousel Tesimonials -->
                <div id="owl-testimonials" class="owl-carousel">
                    <!-- testimonial item -->
                    <div class="item">
                        <blockquote>
                            <p>Morbi augue dolor, convallis non mollis vel, pulvinar a leo. Duis non orci eget felis blandit efficitur.</p>
                            <footer>John Doe @Company Inc.</footer>
                        </blockquote>
                    </div>
                    <!-- end testimonial item -->
                    <!-- testimonial item -->
                    <div class="item">
                        <blockquote>
                            <p>Duis accumsan elit eget quam laoreet fermentum. Donec eget metus sapien. Donec fermentum leo in leo scelerisque lacinia.</p>
                            <footer>John Doe @Company Inc.</footer>
                        </blockquote>
                    </div>
                    <!-- end testimonial item -->
                    <!-- testimonial item -->
                    <div class="item">
                        <blockquote>
                            <p>Proin posuere blandit erat ac faucibus. Etiam scelerisque nunc eget hendrerit lobortis. Mauris mattis lectus diam, ut sodales diam suscipit id.</p>
                            <footer>John Doe @Company Inc.</footer>
                        </blockquote>
                    </div>
                    <!-- end testimonial item -->
                </div>
                <!-- End Carousel Tesimonials -->
            </div>
        </div>
    </div>
</section>
<!-- End Testimonials -->
