<!-- Start Team -->
<section id="team" class="section" style="display: none">
    <div class="container">
        <!-- Section Title -->
        <div class="row m-bottom-100">
            <div class="col-md-6">
                <h3>The Team</h3>
                <div class="divider"></div>
            </div>
            <div class="col-md-6">
                <h6>Sed ac mattis justo. Vestibulum facilisis at arcu ac porta. Vivamus at ipsum.</h6>
            </div>
        </div>
        <!-- End Section Title -->
        <div class="row">
            <div class="col-md-4 wow fadeInUp">
                <!-- member item -->
                <div class="team-member">
                    <div class="member">
                        <img src="http://placehold.it/570x675" alt="">
                        <ul class="member-social">
                            <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                            <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                            <li><a href="#"><i class="ion-social-dribbble-outline"></i></a></li>
                        </ul>
                    </div>
                    <div class="member-info">
                        <h5>Steven</h5>
                        <div class="divider-small"></div>
                        <h6>Designer</h6>
                    </div>
                </div>
                <!-- end member item -->
            </div>
            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                <!-- member item -->
                <div class="team-member">
                    <div class="member">
                        <img src="http://placehold.it/570x675" alt="">
                        <ul class="member-social">
                            <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                            <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                            <li><a href="#"><i class="ion-social-dribbble-outline"></i></a></li>
                        </ul>
                    </div>
                    <div class="member-info">
                        <h5>Alexa</h5>
                        <div class="divider-small"></div>
                        <h6>Photographer</h6>
                    </div>
                </div>
                <!-- end member item -->
            </div>
            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2">
                <!-- member item -->
                <div class="team-member">
                    <div class="member">
                        <img src="http://placehold.it/570x675" alt="">
                        <ul class="member-social">
                            <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                            <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                            <li><a href="#"><i class="ion-social-dribbble-outline"></i></a></li>
                        </ul>
                    </div>
                    <div class="member-info">
                        <h5>Alan</h5>
                        <div class="divider-small"></div>
                        <h6>Developer</h6>
                    </div>
                </div>
                <!-- end member item -->
            </div>
        </div>
    </div>
</section>
<!-- End Team -->
