<!-- Start Clients -->
<section id="clients" class="section bg-clients" data-stellar-background-ratio="0.5">
    <div class="overlay-dark"></div><!-- Overlay Dark -->
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center wow fadeIn">
                <!-- Carousel Clients -->
                <div id="owl-clients">
                    <div class="client"><img src="http://placehold.it/240x240" alt=""></div>
                    <div class="client"><img src="http://placehold.it/240x240" alt=""></div>
                    <div class="client"><img src="http://placehold.it/240x240" alt=""></div>
                    <div class="client"><img src="http://placehold.it/240x240" alt=""></div>
                    <div class="client"><img src="http://placehold.it/240x240" alt=""></div>
                    <div class="client"><img src="http://placehold.it/240x240" alt=""></div>
                </div>
                <!-- End Carousel Clients -->
            </div>
        </div>
    </div>
</section>
<!-- End Clients -->
