<!-- Start Intro -->
<section id="intro">
    <!-- border intro -->
    <div class="left-border"></div>
    <div class="right-border"></div>
    <div class="bottom-border"></div>
    <!-- Slide -->
    <div id="slides">
        <ul class="slides-container">
{% for project in site.projects %}
{% if project.featured %}
            <!-- slide item -->
            <li>
                <img src="{{ project.headline-image }}" alt="" data-stellar-ratio="0.4">
                <div class="caption-wrapper">
                    <div class="slide-caption">
                        <a href="#">
                            <h1 class="wow fadeInDown {% if project.image-is-dark %}white-text{% endif %}" data-wow-duration="1s" data-wow-delay="0.6s">{{ project.title }}</h1>
                        </a>
                        <h6 class="wow fadeInUp {% if project.white-text %}white-text{% endif %}" data-wow-duration="1s" data-wow-delay="0.6s">{{ project.headline }}</h6>
                    </div>
                </div>
            </li>
            <!-- end slide item -->
{% endif %}
{% endfor %}
        </ul>
        <!-- slide navigation -->
        <nav class="slides-navigation">
            <a href="#" class="next">Next</a>
            <a href="#" class="prev">Back</a>
        </nav>
    </div>
    <!-- End Slide -->
</section>
<!-- End Intro -->
