<!-- Start Google Map -->
<section id="cd-google-map">
    <div id="google-container"></div>
    <div id="cd-zoom-in"></div>
    <div id="cd-zoom-out"></div>
    <!-- Address -->
    <div class="address">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="address-item">
                        <i class="ion-ios-telephone-outline"></i>
                        <h6>920005022</h6>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="address-item">
                        <i class="ion-ios-location-outline"></i>
                        <h6>Firas Bin Nadr Street, Ulaya, Khobar, Saudi Arabia</h6>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="address-item">
                        <i class="ion-ios-email-outline"></i>
                        <h6>info@example.com</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end Address -->
</section>
<!-- End Google Map -->