<div class="container">
  <a href="#" class="work-btn" data-toggle="collapse" data-target="#code_of_conduct">Methodology</a>
    <section id="cd-timeline" class="cd-container">
        {% for methodology in site.data.methodology %}
        <div class="cd-timeline-block">
            <div class="cd-methodology-img"{% if methodology.icon-bg %} style="background-color: {{ methodology.icon-bg }}"{% endif %}>
                <img src="/img/methodology_icons/{{ methodology.icon }}" alt="Picture">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2>{{ methodology.title }}</h2>
                <p>{{ methodology.description }}</p>
                {% if methodology.readmore %}
                <a href="{{ methodology.readmore }}" class="cd-read-more">Read more</a>
                {% endif %}
            </div> <!-- cd-timeline-content -->
        </div>
        {% endfor %}
    </section>
</div>
