<a href="#" class="work-btn" data-toggle="collapse" data-target="#cd-timeline">Methodology</a>
<div class="container">
    <section id="cd-timeline" class="cd-container">
        {% for methodology in site.data.methodology %}
        <div class="cd-timeline-block {{ methodology.parent }}">
          {% if methodology.sub-items %}
          <a href=".{{ methodology.parent }}" data-toggle="collapse" data-target=".{{ methodology.title }}">
          {% endif %}
            <div class="cd-timeline-img {{ methodology.icon-size }}"{% if methodology.icon-bg %} style="background-color: {{ methodology.icon-bg }}"{% endif %}>
                <img src="/img/methodology_icons/{{ methodology.icon }}" alt="{{ methodology.title }}">
            </div> <!-- cd-timeline-img -->
            {% if methodology.sub-items %}
          </a>
          {% endif %}
            <div class="cd-timeline-content">
                {% case methodology.icon-size %}
                  {% when 'large' %}
                    <h2>{{ methodology.title }}</h2>
                  {% when 'small' %}
                    <h4>{{ methodology.title }}</h4>
                  {% else %}
                    <h3>{{ methodology.title }}</h3>
                {% endcase %}
                {% if methodology.description != blank %}
                <p>{{ methodology.description }}</p>
                {% endif %}
                {% if methodology.readmore %}
                <a href="{{ methodology.readmore }}" class="cd-read-more">Read more</a>
                {% endif %}
            </div> <!-- cd-timeline-content -->
        </div>
        {% endfor %}
    </section>
</div>
